.title {
    color: white;
    font-size: 25px;
}

.amount {
    color: white;
    font-size: 40px;
}

.display-title {
}

.small-amount {
    color: white;
}

.income {
    background-color: lightseagreen;
    height: 10%;
    width: 40%;
    margin: auto;
}

.expenses {
    background-color: orangered;
    height: 10%;
    width: 40%;
    margin: auto;
}

.background {
    background: url('back.png');
    background-size: cover;
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
}

.container {
    text-align: center;
    margin: auto;
}

.table {
    width: 45%;
}

.input-section {
    width: 100%;
    height: 50px;
    background-color: lightgrey;
    text-align: center;
    margin: 0 auto;
}

.tables {
    width: 100%;
    margin: 10px;
}

.nanda {
    margin-top: 10px;
}